<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin-top: 20%; margin-bottom: 20%; margin-left: 20%;">
    <form method="POST">
        <input type="number" name="x" value="{{x}}" placeholder="enter x"><br>
        <input type="number" name="y" value="{{y}}" placeholder="enter y"><br>
        <button type="submit">LCM</button>
    </form>
    <br><br>
    <input type="number" placeholder="LCM" disabled value="{{lcm}}">
</body>

</html>